.container {
  width: 300px;
  height: 300px;
}

.container div {
  padding: 0 5px 5px 0;
}

.square-indigo {
  width: 70px;
  height: 70px;
  background-color: indigo;
  float: left;
}

.rectangle-green {
  width: 145px;
  height: 70px;
  background-color: green;
  float: left;
}

.rectangle-red {
  width: 70px;
  height: 145px;
  background-color: red;
  float: right;
}
.rectangle-blue {
  width: 70px;
  height: 220px;
  background-color: blue;
  float: left;
}
.square-orange {
  width: 70px;
  height: 70px;
  background-color: orangered;
  float: right;
}
.rectangle-red-again {
  width: 70px;
  height: 145px;
  background-color: red;
  float: left;
}
.rectangle-blue-again {
  width: 220px;
  height: 70px;
  background-color: blue;
  float: left;
}
.rectangle-green-again {
  width: 145px;
  height: 70px;
  background-color: green;
  float: right;
}
