html {
  height: 100%;
  font-size: 16px;
  }

body {
  height: 100%;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
  }

a {
  color: inherit;
  text-decoration: none;
  }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  }

.content {
  flex: 1 0 auto;
  }

footer {
  flex-shrink: 0;
  }
  
  /* Unknown props */
  /* box-shadow: 0 2px 5px rgba(0,0,0,.26); - header */
  /* border-radius: 3px; - card rounding */
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); - card shadow */
  /* border-top-left-radius: 3px;
    border-top-right-radius: 3px; - for card image */
  
  /* Your styles go below */

* {
  box-sizing: border-box;
}

.width {
  width: 1170px;
  margin: 0 auto;
}

body {
  background-image: url("../images/1.png")
}

.nav a {
  text-transform: uppercase;
  display: inline-block;
  color: white;
}

.nav a:first-child {
  border-bottom: 3px solid rgb(240, 166, 7);
}

.log {
  position: absolute;
  right: 12%;
  top: 1px;
  color: white;
}

.header-top{
  line-height: 50px;
  background-color: rgba(7, 167, 21, 0.5);
}

.header-bottom {
  width: 100%;
  height: 600px;
  background-image: url("../images/1.jpg");
  background-size: cover;
}

.intro {
  color: white;
  text-align: center;
  padding-top: 16%;
  font-size: 67px;
  font-weight: bold;
}

.content {
  padding-top: 40px;
}

.primary {
  font-size: 42px;
  font-weight: bold;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.container {
  padding: 0 15px;
}
.row {
  margin: 0 -29px;
  font-size: 0;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.column {
  width: 25%;
  padding: 0 15px;
  float: left;
}
.card {
  margin-bottom: 30px;
  padding-bottom: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #fff;
  height:380px;
}

.card-top {
  background-image: url("../images/2.jpg");
  height: 190px;
  background-size: cover;
}

.card-top-text {
  color: white;
  position: absolute;
  padding-top: 157px;
  padding-left: 23px;
  font-size: 21px;
}

.card-bottom {
  padding: 20px;
}

.card-bottom-title {
  color: grey;
}

.card-bottom-text {
  padding-top: 15px;
}

.card-bottom-links {
  padding-top: 15px;
}

.card-bottom-links a {
  text-transform: uppercase;
  color: green;
  font-size: 24px;
}

.card-bottom-links a:last-child {
  padding-left: 12px;
}

.load-link {
  text-transform: uppercase;
  background-color: green;
  font-size: 24px;
  color: white;
  padding: 7px;
  border-radius: 3px;
  margin: 506px;
}

.footer {
  width: 100%;
  height: 150px;
  margin-top: 50px;
  background-color: black
}

.block-one {
  padding-top: 47px;
}

.block-one p {
  color: white;
  font-size: 20px;
}

.block-one p:last-child {
  padding-top: 12px;
}

.block-two {
  padding-top: 47px;
}

.block-two p {
  color: white;
  font-size: 20px;
}

.block-two p:last-child {
  padding-top: 12px;
}

